/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* À propos */

.round-header {
    display: block;
    margin: auto;
}

.h1-header {
    display: block;
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 28;
    text-align: center;
    
}