/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    width: 100%;
}

/* Page d'accueil FR */

.intro-accueil-fr {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    display: flex;
    margin-bottom: 10%;
    margin-top: -10%;
}

.texte-article-right-accueil-fr {
    display: flex;
    font-family: 'Mulish', sans-serif;
    color: #FFFDFD;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 2.5px 2px black;
    margin-left: 20%;
    margin-top: -54%;
}

.texte-article-left-accueil-fr {
    font-family: 'Mulish', sans-serif;
    color: #FFFDFD;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 2.5px 2px black;
    margin-left: 2%;
    margin-right: 20%;
    margin-top: -54%;
}
.btb-header-fr {
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #FFFDFD;
}

/* Page FR - Film */

.film_article_intro {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: 10%;
}

.film_article_texte_tittle {
    font-family:  'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: -1%;
    margin-top: 10%;
}

.film_article_texte_tittle_center {
    font-family:  'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: -1%;
    text-align: center;
}

.film_article_texte_tittle_italic {
    font-family:  'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    color: var(--gris-fonce);
    margin-inline: 5%;
}

.film_article_texte_content {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
}

.film_article_texte_content_center {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    text-align: center;
}

.film_article_texte_content_italic {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: var(--gris-fonce);
    margin-inline: 5%;
}

.film_article_texte_list {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: regular;
    color: var(--gris-fonce);
    text-decoration: none;
}

.film_article_texte_link {
    margin-inline: 5%;
}

/* Livre FR */

.livre_article_intro {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: 10%;
}

.livre_article_texte_tittle {
    font-family:  'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: -1%;
    margin-top: 10%;
}

.livre_article_texte_content {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
}

.livre_article_texte_content_center {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    text-decoration: none;
    text-align: center;
}

.livre_article_texte_link {
    text-align: center;
}

/* Musique FR */

.musique_article_intro {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: 10%;
}

.musique_article_texte_tittle {
    font-family:  'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: -1%;
    margin-top: 10%;
}

.musique_article_texte_content {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
}

.musique_article_texte_link {
    text-align: center;
}

/* Lieu FR */

.lieu_article_intro {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: 10%;
}

.lieu_article_texte_tittle {
    font-family:  'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: -1%;
    margin-top: 10%;
}

.lieu_article_texte_content {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
}

.lieu_article_texte_content_italic {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: var(--gris-fonce);
    margin-left: 5%;
}

.lieu_article_texte_link {
    text-align: center;
}

.lieu_article_texte_content_center {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    text-decoration: none;
    text-align: center;
}

/* Espoir FR */

.espoir_article_intro {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: 10%;
}

.espoir_article_texte_tittle {
    font-family:  'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: -1%;
    margin-top: 10%;
}

.espoir_article_texte_content {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
}

.espoir_article_texte_content_center {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    text-decoration: none;
    text-align: center;
}

/* Regret FR */

.regret_article_intro {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: 10%;
}

.regret_article_texte_tittle {
    font-family:  'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: -1%;
    margin-top: 10%;
}

.regret_article_texte_content {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
}

.regret_article_texte_content_center {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    text-decoration: none;
    text-align: center;
}

/* Glossaire FR */

.glossaire_article_intro {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: 10%;
}

.glossaire_article_texte_tittle {
    font-family:  'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: var(--gris-fonce);
    margin-inline: 5%;
    margin-bottom: -1%;
    margin-top: 10%;
}

.glossaire_article_texte_content {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gris-fonce);
    margin-inline: 5%;
}
