img {
    max-width: 100%;
}

/* Page d'accueil FR*/

.article-right-accueil-fr {
    margin-left: 17.4%;
    border-left:  solid 5px;
    border-bottom: solid 5px;
    background-color: var(--rouge-clair);
    border-color: var(--rouge-clair);
    border-radius: 5% 0 0 5%;
}

/* Correction alignement image Sauvez la planète*/

.article-right-accueil-fr-2 {
    margin-left: 17.6%;
    border-left:  solid 5px;
    border-bottom: solid 5px;
    background-color: var(--rouge-clair);
    border-color: var(--rouge-clair);
    border-radius: 5% 0 0 5%;
}

.article-left-accueil-fr {
    background-color: var(--rouge-clair);
    border-right: solid 5px;
    border-bottom: solid 5px;
    border-color: var(--rouge-clair);
    border-radius: 0 5% 5% 0;
}

.boutton-right-article-fr {
    background-color: var(--rouge-clair);
    text-align: center;
    color: #FFFDFD;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    border-color: var(--rouge-fonce-fonce);
    cursor: pointer;
    height: 25px;
    box-shadow: 0px 1.5px 5px black;
    margin-left: 22%;
    margin-top: 27%;
    margin-bottom: 15%;
}

.boutton-left-article-fr {
    background-color: var(--rouge-clair);
    text-align: center;
    color: #FFFDFD;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    border-color: var(--rouge-fonce-fonce);
    cursor: pointer;
    height: 25px;
    box-shadow: 0px 1.5px 5px black;
    margin-left: 56%;
    margin-top: 27%;
    margin-bottom: 15%;
}

button:hover {
    background-color: var(--rouge-fonce-fonce);
}