img {
    max-width: 100%;
    height: auto;
}

/* Page d'accueil FR*/

.article-right-accueil-fr {
    margin-left: 21%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--rouge-clair);
    border-left: solid 4px;
    border-bottom: solid 4px;
    border-color: var(--rouge-clair);
    border-radius: 5%;
}

.article-left-accueil-fr {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -4%;
    background-color: var(--rouge-clair);
    border-right: solid 4px;
    border-bottom: solid 4px;
    border-color: var(--rouge-clair);
    border-radius: 5%;
}

.boutton-right-article-fr {
    background-color: var(--rouge-clair);
    text-align: center;
    color: #FFFDFD;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    border-color: var(--rouge-fonce-fonce);
    position: absolute;
    margin-top: -58px;
    margin-left: 95px;
    cursor: pointer;
    height: 25px;
    box-shadow: 0px 1.5px 5px black;
}

.boutton-left-article-fr {
    background-color: var(--rouge-clair);
    text-align: center;
    color: #FFFDFD;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    border-color: var(--rouge-fonce-fonce);
    position: absolute;
    margin-top: 183px;
    margin-left: -100px;
    cursor: pointer;
    height: 25px;
    box-shadow: 0px 1.5px 5px black;
}

button:hover {
    background-color: var(--rouge-fonce-fonce);
  }
/* Footer */

.icone_btb_footer {
    display: flex;
    margin-left: 150px;
    padding-top: 18px;
    
}

.icone_mmi_footer {
    display: flex;
    justify-content: center;
    
}