footer {
    background-color: var(--gris-fonce);
    width: 100%;
}

/* Footer FR */

.icone_btb_footer {
    display: flex;
    margin: auto;
    padding-top: 5%;
}

.h5_footer {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--blanc);
    line-height: 15%;
    margin-top: 10%;
    padding-left: 10%;
}

.h4_footer {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--blanc);
    opacity: 50%;
    margin-top: 10%;
    padding-left: 10%;
}

.liens_footer {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--blanc);
    text-decoration: none;
    list-style-type: none;
    margin-left: -6%;
    padding-left: 11%;
}

.h4_footer_contact {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--blanc);
    opacity: 50%;
    margin-top: 10%;
    padding-left: 10%;
}

.mailto_footer {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--blanc);
    opacity: 50%;
    text-decoration: none;
    padding-left: 10%;
}

.h4_footer_suivre {
    font-family: 'Rubik', sans serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--blanc);
    opacity: 50%;
    margin-top: 10%;
    padding-left: 10%;
}

.reseaux_footer {
    display: flex;
    justify-content: space-between;
    margin-right: 70%;
    padding-left: 10%;
}

.p_footer {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--blanc);
    text-align: center;
    margin-top: 10%;
}

.icone_mmi_footer {
    display: inline-block;
    margin-top: 10%;
    padding-bottom: 10%;
    margin-left: 40%;
}