header {
    background-color: var(--rouge-fonce);
}

/* Header FR */

.header_fr {
    width: 100%;
}

.header_fr_2 {
    width: 100%;
}

.element_header_fr {
    display: flex;
    justify-content: space-between;
}

.home_header_fr {
    margin-top: 5%;
    margin-left: 5%;
    
}

.language_header_fr {
    display: inline-block;
    margin-top: 5%;
    margin-left: 5%;
}

.btb_header_fr {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #FFFDFD;
    text-align: center;
    margin-top: 5%;
    padding-bottom: -5%;
}

/* Header Variation */

.round-header {
    display: flex;
    margin-left: 100%;
}

.h1-header {
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    text-align: center;
    display: flex;
    margin-left: 150%;
    margin-bottom: -10%;
}

.element-header {
    position: relative;
    height: 10rem;
}

.element-header-image {
    position: absolute;
}

/* Variation Header 1*/

.element-header-texte-1 {
    position: absolute;
    rotate: -6deg;
    font-size: 12px;
}

/* Variation Header 2*/

.element-header-texte-2 {
    position: absolute;
    rotate: -6deg;
    bottom: 60px;
    right: 258px;
    font-size: 13px;
}

/* Variation Header 3*/

.element-header-texte-3 {
    position: absolute;
    rotate: -6deg;
    bottom: 71px;
    right: 270px;
    font-size: 13px;
}

/* Variation Header 4*/

.element-header-texte-4 {
    position: absolute;
    rotate: -6deg;
    bottom: 40%;
    right: 73%;
    font-size: 10px;
}

/* Variation Header 5*/

.element-header-texte-5 {
    position: absolute;
    rotate: -6deg;
    bottom: 70px;
    right: 265px;
    font-size: 13px;
}

/* Variation Header 6*/

.element-header-texte-6 {
    position: absolute;
    rotate: -6deg;
    bottom: 52%;
    right: 79%;
    font-size: 12px;
}

/* Variation Header 7*/

.element-header-texte-7 {
    position: absolute;
    rotate: -6deg;
    bottom: 53%;
    right: 77%;
    font-size: 11px;
}

/* Variation Header 8*/

.element-header-texte-8 {
    position: absolute;
    rotate: -6deg;
    bottom: 48%;
    right: 75%;
    font-size: 10px;
}

/* Variation Header 9*/

.element-header-texte-9 {
    position: absolute;
    rotate: -6deg;
    bottom: 37%;
    right: 73.5%;
    font-size: 10px;
}

/* Variation Header 10*/

.element-header-texte-10 {
    position: absolute;
    rotate: -6deg;
    bottom: 45%;
    right: 78%;
    font-size: 7.5px;
}

/* Header EN */

.header_en {
    width: 100%;
}

.element_header_en {
    display: flex;
    justify-content: space-between;
}

.home_header_en {
    display: inline-block;
    margin-top: 5%;
    margin-left: 5%;
}

.language_header_en {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}

.menu_header_en {
    display: inline-block;
    margin-top: 5%;
    margin-right: 5%;
}

.btb_header_en {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #FFFDFD;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
}